html,body{
    background: #f0f4f7;
    height: auto;
    overflow: auto;
   /* position: relative;*/
}
.m-l-25{
    margin-left: 5px;
}
.scsetup{
	background: url("../images/option.png") no-repeat center;
}
.setup_a{
text-decoration:none;
}
.setup_a:link{
text-decoration:none;
}
.setup_a:visited{
text-decoration:none;
}
.setup_a:hover{
text-decoration:none;
}
.setup_a:active{
text-decoration:none;
}

.icon-arrow-right{
    display: inline-block;
    width: 8px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    background: url("../images/icon-arrow-right.png") no-repeat;
}
.icon-task{
    display: inline-block;
    width: 11px;
    height: 14px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    background: url("../images/icon-task.png") no-repeat;
}
.icon-map{
    display: inline-block;
    width: 12px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    background: url("../images/icon-map.png") no-repeat;
}
.icon-doctor{
    display: inline-block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
    background: url("../images/icon-doctor.png") no-repeat;
}
.icon-no{
    display: inline-block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
}


.main-page{
    padding: 2px 2px;
}
.main-box{
    border: 1px solid #e3e4e6;
    background: #fff;
    min-height: 300px;
    padding:2px 2px;
}

.my-desk-title{
    margin-bottom: 10px;
    height: 40px;
}
.my-desk-title .name{
    font-size: 20px;
    color: #4c4c4c;
    border-bottom: 4px solid #ededed;
    padding-bottom: 8px;
}
.h3-title{
    height: 20px;
    line-height:20px;
    margin-bottom: 10px;
}
.h3-title span.name{
    font-size: 16px;
    color: #239ad7;
}
.h4-title{
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
}
.h4-title span.name{
    font-size: 16px;
    color: #4fb0d4;
}
.h4-title.border{
    padding-left: 15px;
    background: url("../images/h4-title-border-left-bg.png") no-repeat;
}
.h4-title span.time{
    margin-left: 30px;
    color: #999999;
    font-size: 14px;
}
.my-desk-box{
    border: 1px solid #e3e4e6;
    background: #fafafa;
    padding: 10px 0;
    min-height: 100px;
    margin-bottom: 5px;
}


.day-chart-box{

}
.day-chart-content{
    max-width: 600px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.day-chart-box .people-text{
    float: left;
    width: 49%
}
.day-chart-box .people-text-list{
     width: 100%;
    overflow: hidden;
    zoom: 1;
}
.day-chart-box .people-text li.list{
    position: relative;
    float: left;
    display: inline;
  /*  width: 110px;*/
    width: 33.3%;
  /*  padding: 0 15px;*/
    height: 170px;

}
.day-chart-box .people-text li.list .p1{
    padding-top: 0px;
    text-align: center;
}
.day-chart-box .people-text li.list .p1 img{
    display: block;
    margin: 0 auto;
}
.day-chart-box .people-text li.list .p2{
    text-align: center;
    padding-top: 10px;
}
.day-chart-box .people-text li.list .p2 strong{
    display: block;
    color: #4c4c4c;
    font-size: 24px;
}
.day-chart-box .people-text li.list .p2 strong i{
    font-size: 14px;
    padding-left: 10px;
    font-style: normal;
}
.day-chart-box .people-text li.list .p2 span{
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: #4c4c4c;
}
.day-chart-box .people-text li.list .line{
    position: absolute;
    right: 0;
    bottom: 15px;
    background: #cccccc;
    width: 1px;
    height: 30px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.day-chart-box .chart-pipe-box{
    float: right;
    width: 250px;
    height: 170px;
    margin-right: 10px;
}

.calendarWrap{
    position: relative;
}
.calendarWrap .add_canlendar_btn {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    right: 50px;
    top: 5px;
    z-index: 10;
}
.calendarWrap .add_canlendar_btn img{
    width: 100%;
    height: 100%;
}

.desk-calendar-box{
    position: relative;
    z-index: 1;
    border: 1px solid #e3e4e6;
    /*overflow: hidden;*/
}
.desk-calendar-box .calendar_title{
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #35688e;
    text-align: center;
}
.desk-calendar-box .calendar_title span{
    color: #fff;

}
.desk-calendar-box .calendar_title .calendar_left_btn,
.desk-calendar-box .calendar_title .calendar_right_btn
{
    width: 30px;
    position: absolute;
    top:0;
    display: block;
    height: 30px;
    line-height: 30px;
}
.desk-calendar-box .calendar_title .calendar_left_btn{
    left: 0;
    border-right:1px solid #295a7e ;
    background: url("../images/canlender-left-btn.png") center no-repeat;
}
.desk-calendar-box .calendar_title .calendar_right_btn{
    right:0;
    border-left:1px solid #295a7e ;
    background: url("../images/canlender-right-btn.png") center no-repeat;
}
.desk-calendar-box .calendar-table{
    width: 100.2%;
    *width:99.9%;
    text-align: center;
}
.desk-calendar-box .calendar-table th{
    height: 33px;
    line-height: 33px;
    color: #fff;
    background: #49afea;
    text-align: center;
}
.desk-calendar-box .calendar-table td{
    height: 28px;
    line-height: 28px;
}
.desk-calendar-box .calendar-table div.day_box {
    position: relative;
  /*  width: 100%;*/
    height: 26px;
    text-align: center;
    line-height: 26px;
    z-index: 1;
    cursor: pointer;
    border: 1px solid transparent;
}
.desk-calendar-box .calendar-table div.day_box em {
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 10px;
    right: 0;
    top: 0;
    background: url("../images/canlender_tright_bg_02.png") no-repeat;
}
.desk-calendar-box .calendar-table div.day_box.orange_bg{
    border: 1px solid #4ab156;
}

.desk-calendar-box .calendar-table div.day_box.blue_bg{
    border: 1px solid #4ab156;
    background: #49afea;
}

.desk-calendar-box .calendar-table div.day_box.sel_blue_bg{
    background: #49afea;
}
.desk-calendar-box .calendar-table td .red_bg{
    color: #fff;
    background: #49afea;
}
.desk-calendar-box .calendar-table td .red_bg.orange_bg{
    border: 1px solid #49afea;
}

.desk-calendar-box .calendar-table td  .day_box_sub{
    display: none;
    z-index: 36;
    position: absolute;
    right: -1px;
    top:26px;
    width: 180px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.desk-calendar-box .calendar-table td  .day_box_sub p.p1{
    line-height:24px;
  /*  height: 66px;*/
  /*  padding: 8px 10px;*/
    text-align: left;
    color: #333;
    overflow: hidden;
    z-index: 36;
}
.desk-calendar-box .calendar-table td .day_box_sub .calendar_more{
    color: #239ad7;
    z-index: 36;
    padding-right: 10px;
    text-align: right;
}
.desk-calendar-box .calendar-table td .day_box_sub .calendar_more .look_more{
    color: #239ad7;
}


/*添加代办事项*/
.add-calender{
    padding:30px 20px;
}

.add-calender .add-calender-list li{
    margin-bottom: 20px;
}
.add-calender .label-text{
    line-height: 30px;
    padding-right: 10px;
}


.month-plane-list{
    padding-left: 15px;
}
.month-plane-list li.list{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
}
.month-plane-list li.list .label-text{
    color: #999999;
}
.month-plane-list li.list .icon-map{
    margin-right: 10px;
    margin-top: -2px;
}
.month-plane-list li.list strong{
    padding: 0 5px;
    color: #df4d4c;
}

.city-task-box{

}
.city-task-list{

}
.city-task-list li.list{
    height: 30px;
    line-height: 30px;
}
.city-task-list li.list a{
    color: #333333;
}
.city-task-list li.list .icon-task{
    margin-right: 10px;
    color: #333333;
}

.other-link-list{

}
.other-link-list li.list{
    height: 42px;
    margin-bottom: 10px;
    border-radius:5px;
    overflow: hidden;
}
.other-link-list li.list a{
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #ffffff;
    text-align: left;
    padding-right: 60px;
    padding-left: 10px;
}

.other-link-list li.list div{
    position: relative;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding-right: 60px;
}

.other-link-list li.list span{
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    width: 60px;
}
.other-link-list li.list.one a{
    background: #4daee0;
}
.other-link-list li.list.two a{
    background: #4fc0e8;
}
.other-link-list li.list.three a{
    background: #5d9cec;
}

.other-link-list li.list.one div{
    background: #4daee0;
}
.other-link-list li.list.two div{
    background: #4fc0e8;
}
.other-link-list li.list.three div{
    background: #5d9cec;
}
.other-link-list li.list span{
    background: url("../images/icon-arrow-right.png") no-repeat center;
}

.other-link-list li.list.one span{
    background-color: #329cd3;
}
.other-link-list li.list.two span{
    background-color: #3aafda;
}
.other-link-list li.list.three span{
    background-color: #4b89dc;
}
.other-link-list li.list a:hover{
    opacity: 0.9;
    filter:alpha(opacity=90);
    text-decoration: none;
}


/*内页*/
.body-bg{
    background: #dddddd;
}
.left-nav-box{
    position: relative;
    width: 100%;
    height: 100%;
    background: #f0f4f7;
    border-right:1px solid #d0cece;
}
.left-nav-box .nav-ul-box{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.left-nav-box .nav-ul{
    overflow-x: hidden;
    position: relative;
}
.left-nav-box .nav-ul li{
    position: relative;
    width: 100%;
  /*  z-index: 1;*/
}
.left-nav-box .nav-ul li.first{
    margin-top: 10px;
}
.left-nav-box .nav-ul li.active,.left-nav-box .nav-ul li.hover{
   /* z-index: 2;*/
}
.left-nav-box .nav-ul .first-a{
    display: block;
    height: 100px;
    padding: 10px 0 10px 30px;
    border-top:1px solid #f0f4f7;
    border-bottom:1px solid #f0f4f7;
    line-height: 30px;
    color: #000000;
    font-size: 16px;
    text-align: center;
}
.left-nav-box .nav-ul li.active .first-a{
    border-top:1px solid #d0cece;
    border-bottom:1px solid #d0cece;
    background: #fff;
    text-decoration: none;
}
.left-nav-box .nav-ul .first-a:hover,.left-nav-box .nav-ul li.hover .first-a{
    background: #fff;
    text-decoration: none;

}
.left-nav-box .nav-ul .first-a i{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.left-nav-box .nav-ul .first-a i.icon-nav-01{
    background: url("../images/icon-l-nav-01.png") no-repeat;
}
.left-nav-box .nav-ul .first-a i.icon-nav-02{
    background: url("../images/icon-l-nav-02.png") no-repeat;
}
.left-nav-box .nav-ul .first-a i.icon-nav-03{
    background: url("../images/icon-l-nav-03.png") no-repeat;
}
.left-nav-box .nav-ul .first-a i.icon-nav-04{
    background: url("../images/icon-l-nav-04.png") no-repeat;
}
.left-nav-box .nav-ul .first-a i.icon-nav-05{
    background: url("../images/icon-l-nav-05.png") no-repeat;
}
.left-nav-box .nav-ul .first-a i.icon-nav-06{
    background: url("../images/icon-l-nav-06.png") no-repeat;
}


.left-nav-box .sub-nav{
    position: absolute;
    left: 159px;
    top:0;
    min-width:130px;
    width: auto;
    border: 1px solid #a0a0a3;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    display: none;
    z-index: 2;
}
.left-nav-box .sub-nav li{
    display: block;
    height: 36px;
    line-height: 36px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left-nav-box .sub-nav li a{
    display:block;
    width: 100%;
    color: #000000;
    font-size: 14px;
    padding: 0 15px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left-nav-box .sub-nav li.active a,.left-nav-box .sub-nav li a:hover{
    color: #fff;
    text-decoration: none;
    background: #2db2ff;
}


.right-main{
    padding:0 15px;
}

.my-tab {
    margin-top: 15px;
    padding-bottom: 15px;
}
.my-tab .wd-tab-nav{
    border-bottom:none;
}
.my-tab .wd-tab-nav li{}
.my-tab .wd-tab-nav li a{
    background: #efefef;
    color: #000000;
    border: 1px solid #bbbbbb;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.my-tab .wd-tab-nav li a:hover,.my-tab .wd-tab-nav li.active a{
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #239ad7;
}
.my-tab .wd-tab-content{
    margin-top: -1px;
    background: #fff;
    border: 1px solid #bbbbbb;
}
.my-tab .wd-tab-nav li .close,.my-tab .wd-tab-nav li a:hover .close{
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    height: 12px;
    line-height: 12px;
    right: 8px;
}
.tab-h3-title{
    color: #333333;
    font-size: 18px;
    padding-left: 35px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}


.from-table{
    width: 100%;
    margin-bottom: 20px;
    max-width: 840px;
}
.from-table td{
    padding: 5px 5px;
    height: 30px;
    line-height: 30px;
    color: #333;
    vertical-align: top;
}
.from-table .red{
    color: #fa230f;
    padding-right: 3px;
}
.from-table .address-box{
    margin-bottom: 10px;
}
.from-table .address-box span{
    padding-left: 8px;
    padding-right: 5px;
}
.input-text,.select-text,.textarea-text{
    width: 165px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ededed;
    background: #f8f6f6;
    padding-left: 5px;
    font-family: "microsoft yahei", Verdana, Arial;
}
.input-text.date{
    background-image: url("../images/icon-data.png");
    background-repeat: no-repeat;
    background-position:140px 5px;
}
.textarea-text{
    padding: 10px;
}
.select-text{
    height: 30px;
    width: 172px;
}
.input-text.w-110{
    width: 105px;
}
.input-text.w-430{
    width: 425px;
}
.select-text.w-430{
    width: 450px;
}
.label-radio{
    margin-right: 30px;
}
.label-radio input{
    margin-right: 10px;
}
.input-text.ok,.select-text.ok{
    border: 1px solid #ffa7a6;
    background: #fff3f3;
}
.input-text.validatebox-invalid{
    border: 1px solid #d46f66;
    background: #fff;
}
.input-text:focus,.input-text.focus,.select-text:focus,.select-text.focus{
    outline: 0;
    border: 1px solid #42a9e5;
    box-shadow: 0 0 3px #42a9e5;
    background-color: #fff;
}

.button-box{
    max-width: 840px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}