/*Ã¦Â¡â€ Ã¦Å¾Â¶Ã¦Â Â·Ã¥Â¼ÂÃ¤Â¿Â®Ã¦â€Â¹*/
@media screen and (min-width: 1025px) {
    .layuimini-mini .layui-layout-admin .layuimini-logo {
        width: 115px !important;
        height: 92px!important;
    }
    .layuimini-mini .layui-side.layui-bg-black, .layuimini-mini .layuimini-menu-left > ul, .layuimini-mini .layuimini-menu-left > ul li i {
        width: 115px !important;
        box-shadow:2px 0px 4px 0px rgba(0,0,0,0.08);
    }
    .layui-layout-admin .layuimini-logo img {
        height: 92px;
        width: 121px;

    }
    /**Ã¥â€ â€¦Ã¥Â®Â¹Ã¤Â¸Â»Ã¤Â½â€œÃ¯Â¼Ë†Ã§Â¼Â©Ã¦â€Â¾Ã¯Â¼â€° */
    .layuimini-mini .layui-layout-admin .layui-body {
        left: 116px !important;
    }
    .layuimini-mini .layuimini-menu-left > ul li i {
        width: 40px!important;
        height: 40px;
        border-radius: 1.5em;
        display: inline-block;
        color: white;
        font-size: 2em;
        line-height: 40px;
        background: linear-gradient(42deg, #3A54EC,#9D49AE);
    }
    .layuimini-mini .layuimini-menu-left > ul li i.tjdj{
        background-image: url("../images/tjdj.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color:#96A7C4 ;
    }
    .layuimini-mini .layuimini-menu-left > ul li i.ystj{
        background: url("../images/ystj.png") no-repeat center #96A7C4;
    }
    .layuimini-mini .layuimini-menu-left > ul li i.yszj{
        background: url("../images/yszj.png") no-repeat center #96A7C4;
    }
    .layuimini-mini .layuimini-menu-left > ul li i.bgcx{
        background: url("../images/bgcx.png") no-repeat center #96A7C4;
    }
    .layuimini-mini .layuimini-menu-left > ul li i.tjfx{
        background: url("../images/tjfx.png") no-repeat center #96A7C4;
    }

    .layuimini-mini .layuimini-menu-left .layui-nav .layui-nav-item a {
        height: 66px;
        text-align: center;
        line-height: 26px;
        font-size: 12px!important;
    }
}
#personCard { width:60%!important;}
@media screen and (max-width: 1366px) {
.layui-form-item .layui-input-inline{
    width: 120px;
}
#patMedicalCardnum { width:160%!important;}
#searchValue{width:100%!important;}
.layui-btn {padding: 0px 12px!important;height:28px;line-height: 28px!important;}
.layui-form-label {padding: 4px 8px;}
.layui-input, .layui-select, .layui-textarea {height:28px;}
.table-search-fieldset .layui-form-item .layui-col-md4  .layui-input-inline { width:165px!important;}
#addressOther{width:300%!important;}
}
.layui-table-view .layui-form-radio {
    line-height: inherit;
    padding: 0;
}



.layui-layout-admin .layui-side {
    top: 87px !important;
}

/*logoÃ¨Æ’Å’Ã¦â„¢Â¯Ã©Â¢Å“Ã¨â€°Â² headerLogoBg */
.layui-layout-admin .layuimini-logo {
    background-color: white !important;
}
/*Ã¥Â·Â¦Ã¤Â¾Â§Ã¨ÂÅ“Ã¥Ââ€¢Ã¨Æ’Å’Ã¦â„¢Â¯ leftMenuBg */
.layui-side.layui-bg-black, .layui-side.layui-bg-black > .layuimini-menu-left > ul, .layuimini-menu-left-zoom > ul {
    background-color: white !important;
}
/**Ã¥â€ â€¦Ã¥Â®Â¹Ã¤Â¸Â»Ã¤Â½â€œÃ¯Â¼Ë†Ã©â‚¬Å¡Ã§â€Â¨Ã¯Â¼â€° */
.layui-layout-admin .layui-body {
    overflow: hidden;
    bottom: 0px !important;
    top: 92px !important;
    transition: all .2s;
}
/*Ã¥Â¤Â´Ã©Æ’Â¨Ã¥ÂÂ³Ã¤Â¾Â§Ã¨Æ’Å’Ã¦â„¢Â¯Ã¨â€°Â² headerRightBg */
.layui-layout-admin .layui-header {
    background:linear-gradient(273deg,rgba(72,119,251,1) 0%,rgba(47,88,202,1) 100%);
}
.layuimini-header-menu, .layui-header {
    height: 87px !important;
    line-height: 87px!important;

}
/*Ã¥Â¤Â´Ã©Æ’Â¨Ã¥ÂÂ³Ã¤Â¾Â§Ã¥Â­â€”Ã¤Â½â€œÃ©Â¢Å“Ã¨â€°Â² headerRightColor */
.layui-layout-admin .layui-header .layui-nav .layui-nav-item a {
    color: white;
}

/**Ã¥Â¤Â´Ã©Æ’Â¨Ã¥ÂÂ³Ã¤Â¾Â§Ã¤Â¸â€¹Ã¦â€¹â€°Ã¥Â­â€”Ã¤Â½â€œÃ©Â¢Å“Ã¨â€°Â² headerRightChildColor */
.layui-layout-admin .layui-header .layui-nav .layui-nav-item .layui-nav-child a {
    color: white;
}

/*Ã¥Â¤Â´Ã©Æ’Â¨Ã¥ÂÂ³Ã¤Â¾Â§Ã©Â¼Â Ã¦Â â€¡Ã©â‚¬â€°Ã¤Â¸Â­ headerRightColorThis */
.layui-header .layuimini-menu-header-pc.layui-nav .layui-nav-item a:hover, .layui-header .layuimini-header-menu.layuimini-pc-show.layui-nav .layui-this a {
    color: white !important;

}
/*Ã¥Â¤Â´Ã©Æ’Â¨Ã¥ÂÂ³Ã¤Â¾Â§Ã©â‚¬â€°Ã¤Â¸Â­Ã¨Æ’Å’Ã¦â„¢Â¯Ã¨â€°Â² headerRightBgThis */
.layui-layout-admin .layui-header .layuimini-header-content > ul > .layui-nav-item.layui-this, .layuimini-tool i:hover {
    background-color: transparent !important;
}
.layui-side .layui-left-nav{
    font-size: 12px!important;
    width: 100%;
}
/*Ã¥Â·Â¦Ã¤Â¾Â§Ã¨ÂÅ“Ã¥Ââ€¢Ã©â‚¬â€°Ã¤Â¸Â­Ã¨Æ’Å’Ã¦â„¢Â¯ leftMenuBgThis */
.layuimini-menu-left .layui-nav-tree .layui-this, .layuimini-menu-left .layui-nav-tree .layui-this > a, .layuimini-menu-left .layui-nav-tree .layui-nav-child dd.layui-this, .layuimini-menu-left .layui-nav-tree .layui-nav-child dd.layui-this a, .layuimini-menu-left-zoom.layui-nav-tree .layui-this, .layuimini-menu-left-zoom.layui-nav-tree .layui-this > a, .layuimini-menu-left-zoom.layui-nav-tree .layui-nav-child dd.layui-this, .layuimini-menu-left-zoom.layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color:transparent!important
}
.layui-side li.layui-this i{
    background-color:rgba(58,84,236,1)!important;
    box-shadow:0px 0px 4px 0px rgba(150,75,179,1);
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 1.5em;
}
.layui-side li.layui-this i{ background-color:transparent;}
/*Ã¥Â·Â¦Ã¤Â¾Â§Ã¨ÂÅ“Ã¥Ââ€¢Ã©â‚¬â€°Ã¤Â¸Â­Ã¥Â­â€”Ã¤Â½â€œÃ©Â¢Å“Ã¨â€°Â² leftMenuColorThis */
.layuimini-menu-left .layui-nav .layui-nav-item a:hover, .layuimini-menu-left .layui-nav .layui-this a, .layuimini-menu-left-zoom.layui-nav .layui-nav-item a:hover, .layuimini-menu-left-zoom.layui-nav .layui-this a {
    color: #333 !important; font-size: 14px!important;
}
.layui-nav-tree .layui-nav-item {
    margin: 26px 0px 26px -15px;
}

/*listpage*/
.fl { float: left;}
.fr{ float:right;}
.clearfix:after{
    content:'\20';
    display: block;
    height: 0;
    clear: both;
}
.w-80 { width: 80px;}
.clearfix{ zoom:1;}
.successPage_top{
    width: 100%;

}
.layui-btn {
    background: linear-gradient(90deg, #4877FB 0%, #7F9DF2 100%);
    box-shadow: 0px 0px 4px 0px #6C90F5;
    line-height: 1em;
}
.layui-btn.layui-btn-radius {
     background:linear-gradient(90deg,rgba(63,83,232,1) 0%,rgba(150,74,179,1) 100%); 
    box-shadow:0px 0px 6px 0px rgba(144,74,182,1); 
}
.layui-btn-group { margin-left:10%;}
.layui-btn-group .layui-btn {
    border-color:#C0D1EE;
    background:transparent;
    color:#546DEF;
}
.layui-btn-group .layui-btn:first-child {
    border-radius:16px 0 0 16px;
}
.layui-btn-group .layui-btn:last-child {
    border-radius:0 16px 16px 0;
}
.layui-btn>.fa {
    width: 26px;
    height: 26px;
    border-radius: 1em;
    background-color: white;
    display: inline-block;
    color:#3F53E8;
    line-height:26px; margin-right: 10px;
}
.layui-btn>i { color:white;}

/*printpage*/
.print_head { clear:both;}
.print_head h1 { font-size: 30px;width: 70%; letter-spacing: .2em; text-align: center; height:120px; line-height:80px;}
.print_form  table{ width: 100%; margin-top: 30px; font-size: 16px;}
.print_form  table tr{ height: 26px;}
.print_form  label { font-weight: bolder; padding-right: 10px; }
.print_body table th{ text-align: center; font-weight: bolder; font-size: 16px; background-color: #e6e6e6;color:#333;}
.print_body table tr td:first-child{font-weight: bolder; font-size: 16px;}
.print_body table  td { color:#333;}
/*outPage*/
.outPage { width: 978px;}
.successPage_top { background: url("/exam/static/image/successRegister_bg-182c87e6475997611bde8218f026823c.png") no-repeat; width: 100%; height:279px; line-height: 279px; background-size: contain;}
.successPage_top .layui-col-md3 { text-align: right;}
.successPage_top .layui-col-md9 { text-align: left; font-size: 24px;letter-spacing:3px; color: white; font-weight: bold;padding: 0px 20px;}
.successPage_middle .layui-col-md12{ text-align: center;margin-top: 20px;}
.fa-tj { width: 26px;
    height: 26px;
    border-radius: 1em;
    background-color: white;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 6px;
    margin-top: -7px; margin-right: 10px;}
fieldset { border:1px solid #E8E9EC; border-radius:5px;}
.layui-form {height:auto!important;}
.layui-card { width:99%;}
.layui-card-header{
    color: white;
    font-size: 14px;
    background: linear-gradient(270deg, #8162C9 0%, #597AD6 100%);
    border-radius: 6px 6px 0px 0px;
}
.layui-btn-primary { color:white;}