#u43_div {
  position:relative;
  left:30px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 181, 148, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u43 {
  position:absolute;
  left:150px;
  top:61px;
  width:90px;
  height:30px;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u43_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 181, 148, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u43.mouseOver {
  opacity:0.8;
}
#u43_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(80, 181, 148, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u43.mouseDown {
  opacity:1;
}

#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u45 {
  position:absolute;
  left:326px;
  top:61px;
  width:90px;
  height:30px;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u45_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u45.mouseOver {
  opacity:0.8;
}
#u45_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u45.mouseDown {
  opacity:1;
}

#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u47 {
  position:absolute;
  left:424px;
  top:61px;
  width:90px;
  height:30px;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u47_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u47.mouseOver {
  opacity:0.8;
}
#u47_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Î¢ÈíÑÅºÚ Regular', 'Î¢ÈíÑÅºÚ';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u47.mouseDown {
  opacity:1;
}
